*{
	margin: 1px;
	padding: 0;
}
.skills-bg{
background: url(e.jpg);
background-size:100%;
}
.pi-bg{
background: url(d.jpg);
background-size:100%;
}
.experience-bg{
background: url(c.jpg);
background-size:100%;
}
.eb-bg{
background: url(b.jpg);
background-size:100%;
}
.home-bg {
background: url(s.jpg) no-repeat;
background-size:100%;
}
div {
  border-style: solid;
}
.header{
	padding: 1px;
}
.topnav {
  background:black;
  overflow: hidden;
  border: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  font-family: courier new;
  letter-spacing: 1px;
  position: relative;
  left: 260px;
}
.topnav a:hover {
  background-color:#D8D8D8;
  color: black;
}
#resume{
	text-align: center;
}
#name{
	text-align: center;
	padding: 200px;
	margin: 30px 0px 20px 0px;
  font-size: 85px;
  font-weight: 700;
  text-shadow: 2px 1px 5px black;
  text-transform: uppercase;
  color: white;
}
.row {
  display: flex;
  border: hidden;
}
.column {
  flex: 60%;
  border: 2px;
  text-align: center;
  left: 260px;
}
#skills{
	text-align: center;
    padding: 30px;
}
#skill{
  left: 100px;
  border: hidden;
  border-left: 150px;
}
.div{
  text-align: center; 
  border:hidden;
}
.footer{
  padding: 1px;
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  border:hidden;
}
.div1 {
  width: 300px;
  height: 100px;
  padding: 50px;
  border: 1px solid DarkSlateGray ;
  text-align: left;
  margin-left: 25px;
}
#exp{
  padding: 30px;
  text-align: center;
}
#year{
	color: blue;
}
#dess{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: hidden;
}
img {
  border-radius: 50%;

}
#eb{
  text-align: center;
  padding: 30px;
}
.logo{
  width: 250px;
}
#pi{
   padding: 30px;
  text-align: center;
}
.center{
  text-align: center;
  border: hidden;
}
table, th, td {
  border:hidden;
  border-collapse: collapse;
  text-align: left;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
.checked {
  color: blue;
}
.button{
  margin-left: 550px;
  border:hidden;
  position: relative;
  bottom: 200px;
  left:25px;
}
.btn{
  border: 2px solid black;
  padding: 10px 30px;
  color:black  ;
  text-decoration: none;
  margin-right: 200px;
  font-size:20px;
}
